.section-profile{
    height: 300px;
    margin-top: 100px;
}
.img-profile-section{
    height: 172px;
    width: 172px;
    position: relative;
}
.img-profile{
    height: 172px;
    width: 172px;
    border-radius: 100px;
    position: absolute;
}
.edit-profile{
    position: absolute;
    margin-top: 150px;
    margin-left: 150px;
}
.txt-profile{
    color: black;
}
.clicked:hover{
    cursor: pointer;
    color: #cea905;
}
.line{
    margin-top: 30px;
    border: 1px solid #DFDFDF ;
}
.img-recipe-profile{
    max-height: 250px;
    max-width: 400px;
    border-radius: 15px;
    overflow: hidden;
}.img-recipe-profile:hover{box-shadow: 0 0 12px -2px #000000a0;}
.font-weight-medium{
  font-weight: 500;
}