.section-profile{
    height: 300px;
    margin-top: 100px;
}
.img-profile-section{
    height: 172px;
    width: 172px;
    position: relative;
}
.img-profile{
    height: 172px;
    width: 172px;
    border-radius: 100px;
    position: absolute;
}
.edit-profile{
    position: absolute;
    margin-top: 150px;
    margin-left: 150px;
}
.txt-profile{
    color: black;
}
.line{
    margin-top: 30px;
    border: 1px solid #DFDFDF ;
}
.img-recipe-profile{
    height: 120px;
    width: 250px;
}
.img-recipe{
    height: 120px;
    width: 250px;
    border-radius: 15px;
    object-fit: cover;
}
