.top-navbar{
  position: fixed;
  z-index: 10;
  top: 16px;
  left: 0;
  min-height: 75px;
  transition: ease-in-out 150ms;
}
.active-navbar{
  background-color: #ffffff;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  transition: ease-in-out 150ms;
  top: 0;
}
.clicked:hover{
  cursor: pointer;
  color: #cea905;
  text-decoration: underline;
}
.font-weight-medium{
  font-weight: 500;
}
.navbar-user-icon{
  width: 52px;
  height: 52px;
  object-fit: cover;
  object-position: center;
}
.active-burger{
  background-color: #ffffff;
}
.deactive-burger{
  background-color: transparent;
  transition: ease-in-out 250ms;
}
.navbar-link-custom{
  font-size: larger;
}
@media screen and (max-width: 767px){
  .nav-small{
    background-color: transparent !important;
    box-shadow: none !important;
    flex-basis: auto !important;
  }
  .navbar-link-custom{
    margin-left: -56px ;
    font-size: x-large;
  }
}