.blur-color{
  color: #8692A6;
}
.font-weight-medium{
  font-weight: 500;
}
.search-header{
  position: relative;
  background-color: transparent;
}
.search-item{
  width: 500px;
  max-width: 500px;
  height: 500px;
  min-height: 300px;
  max-height: 500px;
  border-radius: 15px;
  overflow: hidden;
  transition: ease-in-out 150ms;
}.search-item:hover{box-shadow: 0 0 12px -2px #000000a0;transition: ease-in-out 150ms;}
.search-hover{
  background-color: #00000070;
  color: #eec617;
}.search-hover:hover{
  background-color: #fafafac0;
  color: #333333;
}

@media screen and (max-width: 1566px){
  .search-item{
    height: 400px;
  }
}
@media screen and (max-width: 1280px){
  .search-item{
    height: 300px;
  }
}
@media screen and (max-width: 767px){
  .search-header{
    position: sticky;
    background-color: #ffffff;
    z-index: 2;
    top: 0;
  }
}