.full-h{
  min-height: 100vh;
}
.blur-color{
  color: #8692A6;
}
.font-weight-medium{
  font-weight: 500;
}
.search-header{
  position: relative;
  background-color: transparent;
}
.search-img-items{
    width: 100%;
    max-height: 250px;
    max-width: 400px;
    border-radius: 15px;
    overflow: hidden;
    transition: ease-in-out 150ms;
}.search-img-items:hover{box-shadow: 0 0 12px -2px #000000a0;transition: ease-in-out 150ms;}
.search-text-item{
  padding-top: 300px !important;
  bottom: -84px;
  left: 0;
  transition: ease-in-out 150ms;
}.search-text-item:hover{padding-top: auto; bottom: 0; transition: ease-in-out 150ms;}
@media screen and (max-width: 767px){
  .search-header{
    position: sticky;
    background-color: #ffffff;
    z-index: 2;
    top: 0;
  }
}